[Unit]
Description=metclient service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/sbin/metclient_systemd.sh

[Install]
WantedBy=multi-user.target
